<% if @recipes.empty? %>
	<p class="info">
		<%= (@tags.nil? || @tags.size > 2) ? "Brak wyników" : "Musisz podac min. 2 składniki" %>
	</p>
<% else %>
	<div class="sort">
		<%= sort_tab 'Alfabetycznie', :name %>
		<%= sort_tab 'Popularność', :rated %>
		<%= sort_tab 'Data dodania', :date %>
		<%= sort_tab 'Losowo', :random %>
		<%= sort_tab 'Trafność', :revelance unless @tags.nil? %>
	</div>

	<%= render :partial => @recipes %>
<% end %>

<% content_for :pagination do %>
	<%= will_paginate @recipes, :previous_label => '&laquo; Wstecz', :next_label => 'Dalej &raquo;' %>
<% end %>